*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.buttonContainer{
    display: flex;
    gap: 1rem;
}

button{
    padding: .5rem 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #8de7ba;
}

button:hover{
    cursor: pointer;
    background-color: #6ed1a0;
}